body {
    font-size: 1.2rem;
}

.flex-container {
    display: flex;
    gap: 2rem;
    
}

h1{
    text-align: center;
}

.form-wrapper {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

input {
    border: 2px solid currentcolor;
  }
  input:invalid {
    border: 2px dashed red;
  }
  input:invalid:focus {
    background-image: linear-gradient(pink, lightgreen);
  }