body {
    font-size: 1.2rem;
}

.flex-container {
    display: flex;
    gap: 2rem;
    
}

h1{
    text-align: center;
}

.form-wrapper {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}